body{
    text-align: center;
    background: linear-gradient( #000000, #9490a0);
    font-size: 23px; 
    width: auto;
    height: 100vh;
}
button {
    background-color:  #000000; 
    color: white; 
    padding: 10px 20px; 
    border: none;
    border-radius: 5px; 
    cursor: pointer; 
}
h3 {
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;  
    color: #050305;
}
input {
    padding: 5px 70px; 
}
label {
    color: #000000;
    width: 400px;
   padding:  8px;
   border: 1px solid #ccc;
   border-radius: 8px;
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }
.box {
    width: 700px;
    background-color: rgba(128, 128, 128, 0.7);
    border-radius: 16px;

}